<h1>User Details</h1>
Email:  {{email}}</br>
First Name:  {{firstName}}</br>
Last Name:  {{lastName}}</br>
Date of Birth:  {{birthday}}</br>
Zipcode:  {{zipCode}}</br>
Gender:  {{gender}}</br>
Age Preference Min:  {{agePreferenceMin}}</br>
Age Preference Max:  {{agePreferenceMax}}</br>
Race:  {{race}}</br>
Religion:  {{religion}}</br></br>

<form action="/logout">
    <input type="submit" value="Logout" />
</form>